@page
@model SuperheroSocialClub.Pages.Superheroes.UpdateModel
@{
}

<h1>Update Superhero</h1>

@if(Model.Superhero == null)
{
    <h1>No Superhero with that ID found. . .</h1>
}
else
{
    <img class="picture-size" src="@Model.Superhero.Image" alt="Image of @Model.Superhero.Name"/>
    <form method="post">
        <input type="text" placeholder="Name" asp-for="@Model.Superhero.Name"/>
        <input type="text" placeholder="Secret Identity" asp-for="@Model.Superhero.SecretIdentity" />
        <input type="text" placeholder="Superpower" asp-for="@Model.Superhero.Superpower" />

        <input class="btn btn-primary" type="submit" value="Update Superhero" />
    </form>

    @if(TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
        <a class="btn btn-primary" asp-page="/Superheroes/Index">Return to All Superheroes</a>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
}

